body {
    background-color: azure;
}

table {
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
}


td {
    width: 100px;
    height: 50px;
}

.table_center {
    margin-left: auto;
    margin-right: auto;
}

.date {
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    border-bottom-width: 1px;
}

.field {
    text-align: left;
    padding-left: 50px;
}

.measurement {
    text-align: right;
}

.nested {
    text-align: center;
}

#calendar {
    background-color: white;
    border: none;
    padding: 5px 5px;
    font-size: 15px;
    transition-duration: 0.4s;
    position: relative;
    cursor: pointer;
}

#calendar:hover{
    background-color: lightblue;
    border-radius: 5px;
}

#date {
    display: none;
    position: relative;
}

#display_date {
    display: inline;
}

/* Navigation bar */
.navbar {
    overflow: hidden;
    background-color: antiquewhite;
    border-radius: 10px;
}

/* Dropdown button */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  color: black;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
}

.dropdown:hover{
    background-color: #f8e2c6;
}

/* For dropdown contents */
.dropdown:hover .dropdown-content {
    border-radius: 10px;
    display: block;
}

.dropdown-content div:hover {
    background-color: #ddd;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content div {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}