<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/weather_style.css">
    <script src="https://kit.fontawesome.com/71ab039138.js" crossorigin="anonymous"></script>
    <title>Weather Dashboard</title>
</head>
<body>

<table class="table_center">
    <tr>
        <td colspan="3" class="date">
                <!--
                    .getMonth() is indexed 0 to 11 so, need to add 1.
                    Both .getMonth() and .getDate() returns 1 digit for numbers < 10, i.e. 2000-9-8.
                    So, use .padStart(2, "0") for both of them to make it double digits, i.e. 2000-09-08
                 -->
            <p id="display_date"></p>
            <button type="button" id="calendar">
                <i class="fa-regular fa-calendar"></i>
            </button>
            <input type="date" id="date"/>
        </td>

    </tr>
    <tr id="result_temp"></tr>
    <tr id="result_wind"></tr>
    <tr id="result_humidity"></tr>
</table>
<!-- JS for the calendar button -->
<script>
    // Display today's weather when webpage first loads
    document.addEventListener("DOMContentLoaded", function() { // DOMContentLoaded event fires immediately after the html document has been parsed

        fetchWeather(true);
    });

    document.getElementById("calendar").addEventListener("click", function() {
        document.getElementById("date").showPicker()
    })

    document.getElementById("date").addEventListener("change", function() {
        fetchWeather(false)
    })

    // When user clicks on a date, it will be sent to the backend
    async function fetchWeather(isStartup) {
        let date; // initialise date variable
        if (isStartup) {
            const today = new Date()
            date = `${today.getFullYear()}-${(today.getMonth() + 1).toString().padStart(2, "0")}-${today.getDate().toString().padStart(2, "0")}` // padStart(2, "0") adds a 0 to the front of the string
        } else {
            date = document.getElementById("date").value;
        }
        document.getElementById("display_date").innerText = date // sets date based on user's selection

        // Making a post request to send selected date to /data
        const request = await fetch(`/data?date=${date}`)
            .then(response => {
                console.log(response) // debug purposes
                if (!response.ok) {
                    document.getElementById("result_temp").innerHTML = `Error code ${response.status}`
                    document.getElementById("result_wind").innerHTML = `<p>Please select a date before or on ${(new Date()).getFullYear()}-${((new Date()).getMonth() + 1).toString().padStart(2, "0")}-${(new Date()).getDate().toString().padStart(2, "0")}<p>`
                    document.getElementById("result_humidity").innerHTML = ``
                } else {
                    return response.json() // this output is passed onto the next .then()
                }
            })
            .then(data => {
                // Selects the appropriate weather icon based on description of weather
                let weatherIcon;
                if (data.weather.toLowerCase().includes("sun")) {
                    weatherIcon = "../static/sun.png"
                } else if (data.weather.toLowerCase().includes("shower") || data.weather.toLowerCase().includes("rain")) {
                    weatherIcon = "../static/rain.png"
                } else if (data.weather.toLowerCase().includes("wind")) {
                    weatherIcon = "../static/windy.png"
                } else if (data.weather.toLowerCase().includes("cloudy")) {
                    weatherIcon = "../static/cloud.png"
                }

                document.getElementById("result_temp").innerHTML = `
                    <td rowspan="3"> <!--Nested table-->
                        <table>
                            <tr>
                                <td colspan="2" rowspan="1" class="nested">
                                    <img src="${weatherIcon}" width="50" height="50">
                                </td>
                            </tr>
                            <tr>
                                <td class="nested">${data.high}</td>
                                <td class="nested">${data.low}</td>
                            </tr>

                        </table>
                    </td>
                `
                document.getElementById("result_wind").innerHTML = `
                    <td class="field">Wind (km/h):</td>
                    <td> <!--Nested table-->
                        <table>
                            <tr>
                                <td class="nested">${data.windLow}</td>
                                <td class="nested">${data.windHigh}</td>
                            </tr>
                        </table>
                    </td>
                `
                document.getElementById("result_humidity").innerHTML = `
                    <td class="field">Humidity (%):</td>
                    <td>
                        <table>
                            <tr>
                                <td class="nested">${data.humidityLow}</td>
                                <td class="nested">${data.humidityHigh}</td>
                            </tr>
                        </table>
                    </td>
                `
            })
    }
</script>

</body>
</html>