<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/weather_style.css">
    <title>Weather Dashboard</title>
</head>
<body>

<table class="table_center">
    <tr>
        <td colspan="3" class="date">2025-02-06</td>
    </tr>
    <tr>
        <td rowspan="3"> <!--Nested table-->
            <table>
                <tr>
                    <td colspan="2" rowspan="1" class="nested">
                        <img src="../static/rain.png" width="50" height="50">
                    </td>
                </tr>
                <tr>
                    <td class="nested">{{ g.data["low"] }}</td>
                    <td class="nested">{{ g.data["high"] }}</td>
                </tr>

            </table>
        </td>
    </tr>
    <tr>
        <td class="field">wind (kmh):</td>
        <td> <!--Nested table-->
            <table>
                <tr>
                    <td class="nested">{{ g.data["windLow"] }}</td>
                    <td class="nested">{{ g.data["windHigh"] }}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="field">humidity (%):</td>
        <td align="center">{{ g.data["humidity"] }}</td>
    </tr>
</table>

</body>
</html>